@using FreeCodeCamp.Models
@model Login

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pt-2">
            <h2 class="text-primary">Create User</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 col-sm-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3 col-sm-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3 col-sm-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 col-sm-3">
            <label asp-for="Gender"></label>
            <select class="form-control" asp-for="Gender">
                <option disabled selected>Select Gender</option> 
                <option>Male</option> 
                <option>Female</option> 
                <option>Other</option> 
            </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="mb-3 col-sm-3">
            <label asp-for="DOB"></label>
            <input asp-for="DOB" class="form-control" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
@*        <div >
            @*<partial name="_Password"></partial> 
        </div>*@

         <div class="mb-3 col-sm-3">
          <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
         </div>

      <div class="mb-3 col-sm-3">
          <label asp-for="Confirmpwd"></label>
            <input type="password" class="form-control" asp-for="Confirmpwd">
            <span asp-validation-for="Confirmpwd" class="text-danger"></span>
      </div>

      
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Login" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
